<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Crear Órden</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Técnico</label>
                                        <select name="technicianOrder" id="technicianOrder" class="form-control">
                                            <option value="1">Efraín Vargas</option>
                                            <option value="2">Valeria Camargo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Equipo</label>
                                        <select name="technicianOrder" id="technicianOrder" class="form-control">
                                            <option value="1">Ténico</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Antes de Empezar</label>
                                        <input type="datetime-local" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Antes Completa</label>
                                        <input type="datetime-local" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Descripción de la Tarea</label>
                                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>                

                            <button type="submit" class="btn btn-info btn-fill pull-right">Crear Órden</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
