<!-- Modal -->
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeModal($event)"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="clientModalLabel">Agregar Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" [(ngModel)]="client.name"
                                placeholder="Nombre del Usuario">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="lastname">Apellido</label>
                            <input type="text" class="form-control" id="lastname" name="lastname"
                                [(ngModel)]="client.lastname" placeholder="Apellido del Usuario">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="lastname">Teléfono</label>
                            <input type="number" class="form-control" id="phone" name="phone" placeholder="Teléfono"
                                [(ngModel)]="client.phone">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="lastname">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="client.email"
                                placeholder="Email">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeModal($event)" class="btn btn-default btn-simple"
                    data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success btn-fill" (click)="createClient()"
                    *ngIf="!client._id else elseBlock">Guardar</button>

                <ng-template #elseBlock>
                    <button type="button" class="btn btn-success btn-fill" (click)="updateClient()">Actualizar</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>