<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeModal($event)"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userModalLabel">Agregar Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name"
                                placeholder="Nombre del Usuario">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="lastname">Apellido</label>
                            <input type="text" class="form-control" id="lastname" name="lastname"
                                placeholder="Apellido del Usuario">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="enterprise">Empresa</label>
                            <select class="form-control" id="enterprise">
                               
                            </select>
                        </div>
                    </div>
                </div>
                <!-- <input type="text" [(ngModel)]="Cliente.folio"> -->
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeModal($event)" class="btn btn-default btn-simple"
                    data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success btn-fill">Guardar</button>
            </div>
        </div>
    </div>
</div>