<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeModal($event)"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userModalLabel">Agregar Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name"
                                placeholder="Nombre del Usuario">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lastname">Apellido</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname"
                                placeholder="Apellido del Usuario">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="enterprise">Empresa</label>
                            <select *ngIf="isEditModal" class="form-control" id="enterprise" [(ngModel)]="idEmpresa">
                                <option *ngFor="let company of companies" value="{{ company._id }}" >{{ company.name }} </option>
                            </select>
                            <select *ngIf="!isEditModal" class="form-control" id="enterprise" [(ngModel)]="user.empresa">
                                <option value="">Seleccionar Empresa</option>
                                <option *ngFor="let company of companies" value="{{ company._id }}" >{{ company.name }} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname">Password</label>
                            <input type="password" class="form-control" id="pass" name="pass" [(ngModel)]="user.password"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                                placeholder="Email">
                        </div>
                    </div>
                </div>
                <!-- <input type="text" [(ngModel)]="Cliente.folio"> -->
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeModal($event)" class="btn btn-default btn-simple"
                    data-dismiss="modal" #closeModalUser>Cerrar</button>
                <button type="button" class="btn btn-success btn-fill" (click)="createUser()"
                *ngIf="!user._id else elseBlock">Guardar</button>

                <ng-template #elseBlock>
                    <button type="button" class="btn btn-success btn-fill" (click)="updateUser()">Actualizar</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>